<p class="py-5 text-center"></p>
<p>What's for dinner today?</p>
<form action='cast' method='post'>
  <ul class="list-group m-4">
    <% Choices.each do |id, text| %>
      <li class="list-group-item">
        <label class='radio'>
          <input type='radio' name='vote' value='<%= id %>' id='vote_<%= id %>' />
          <%= text %>
        </label>
      </li>
    <% end %>
  </ul>
  <button type='submit' class='btn btn-success'>Cast this vote!</button>
</form>
