
     <h3>Voting results</h3>
<table class='table table-hover table-striped'>
  <thead class="bg-danger text-white">
    <tr>
          <th>Dish</th>
          <th>Number of votes</th>
        </tr>
  <% Choices.each do |id, text| %>
    <tr>
      <th><%= text %></th>
      <td><%= Results[id] || 0 %>
    </tr>
  <% end %>
</table>
<p><a href='/'>Cast more votes!</a></p>
